body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.marker {
   transform: translate(-50%, -100%);
  color: yellow;
  max-width: 45px;
  max-height: 45px;
  cursor: pointer;
  z-index:-1 ;
  
}

.error {
  color: #f05305;
}

.marker.red path {
  fill: #f05305;
  z-index: -10;
}

.marker.yellow path {
  fill: #F3B73E;
  z-index: -10;

}

.popup {
  width: 40vw;
  padding: 1rem;
  font-family: Arial, sans-serif;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  z-index: 3;
}

.popup img {
    height: 200px;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    text-align: center;
    margin: 0 auto;
    display: block;
     z-index: 3;
}

.entry-form label,
.entry-form input,
.entry-form textarea,
.entry-form button {
  font-size: 1rem;
  margin: 0.5rem 0;
  display: block;
  width: 100%;
}

